*{
    box-sizing:border-box;
}

body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBCesfxgHPLc8eJrcEjsnAiXkPbJB_PYJGhMBDjxNyX1yCoqN8KiMGEQRyM4K9PY1lUwI&usqp=CAU");
    background-repeat:none;
    background-size:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*nav*/

#navbar{
    background-color:#4f4f4f;
    /*something is overriding this sticky so figure it out*/
    position: sticky; 
    margin-top:0;
    border-bottom: 4px solid #fdb347;
}

nav ul{
    margin:0px;
    padding:40px 60px;
    display: flex;
    align-items:center; 
    justify-content:space-between;
    list-style-type: none;
}

li a{
    color: #8785A2;
    font-weight: bolder;
}

li a:hover{
    color: #fdb347;
}

#work{
    font-size: 20px;
    margin: 20px 35px;
}

h2{
    text-align:center;
    background-image: url("https://i.pngimg.me/thumb/f/720/4587612157247488.jpg");
    background-size: 100%;
    color:#da73b6;
    font-size:30px;
    border:dotted;
    padding:20px;
    border-radius: 25px;
}

/*home*/
h1{
    text-align:center;
    font-size:80px;
    margin:10px;
    color: #b19cd9;
}

.selfie{
    border-radius: 50%;
    height: auto;
    width: 100%;
}

.intro-one{
    font-size: 20px;
    text-align: center;
}

p.intro{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 10px;
}

#contact-button{
    display: flex;
    justify-content: center;
}

.contact-button{
    background-color:#FFCDD2 ;
    padding: 20px;
    border: none;
    color: gray;
    font-size: 20px;
    box-shadow: 2px 2px 1px gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-button:hover{
    background-color: #b19cd9 ;
    color:white;
}

/*about*/
.about-me{
    padding: 20px;
}


figure {
    /*border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;*/
    padding: 5px;
    max-width: 300;
    margin: auto;
  }
  
  img.anne{
    max-width: auto;
    max-height: auto;
    /*border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;*/
    padding: 5px;
    max-width: 300;
    margin: auto;
  }
  
  /*figcaption {
    background-color: #4a4a4a;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }*/

#about{
    font-size: 16px;
}

#hobbies{
    display:inline-block;
    position: center;
    list-style-type: none;
    background-color: #FFD580;
    margin: 10px;
    padding: 30px;
    border-radius: 50%;
    width: 20%;
    text-align: center;
    color: #1A5276;
    /*add media query for text to fit inside circles*/
}


/*Works*/
.project-descrip{
    text-align: center;
    font-size: 20px;
}

.projects img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;

}

.works-button{
    background-color: #A9CCE3 ;
    color:gray;
    border: none;
    padding: 20px;
    box-shadow: 2px 2px 1px gray;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#github-button{
    display: flex;
    justify-content: center;
}

.works-button:hover{
    background-color:#b19cd9;
    color:#FFCDD2;
}

/*contact*/

a{
    text-decoration: none;
    color: #566573F0;
}

#contact-form{
    text-align: center;
    color:#4f4f4f;
    background-image: url("https://images.pexels.com/photos/1172840/pexels-photo-1172840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    padding:40px;
    width: 100%;
}

label {
    display: block;
    margin: 1rem 0;
  }

.message{
    font-size: 30px;
    font-weight: bold;
}

#form-direction{
    font-size: 14px;
    font-weight: normal;
}

.form-element{
    text-align: center;
    padding: 10px;
}

#send-button{
    background-color:#FDEBD0 ;
    padding: 20px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkolivegreen;
    text-align: center;
    border: none;
    font-weight: bolder;
    box-shadow: 2px 2px 1px gray;
    font-size: 14px;
}

.icon{
    display:inline-block;
    width: 100px;
    padding:20px;
}

div.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }

button.caption{
    background-color:rgb(234, 207, 247);
    border:none;
    border-radius: 30px;
    font-size: 16px;
    text-align:center;
    text-decoration: none;
    padding: 10px 20px 20px 20px;
}

/*footer*/
.footer{
   /* background-color:rgb(98, 98, 108);*/
    background-image: url("https://static.vecteezy.com/system/resources/previews/033/220/357/non_2x/transparent-ocean-wave-copy-space-isolated-blue-teal-turquoise-cartoon-wave-for-pool-party-or-beach-travel-perfect-for-web-banners-backdrops-and-backgrounds-generative-ai-png.png");
    background-size: 100%;
    text-align: center;
    padding: 40px;
    opacity: 0.5;
    height: auto;
    margin-top: 10px;
    width: 100%;
}
